main {
    padding-left: 3rem;
    padding-top: 1.5rem;
}

ul {
    list-style: none;
    padding-top: 1rem;
    padding-left: 0;
}

.list-item {
    margin-right: 1rem;
}

button {
    margin-left: .5rem;
    border-radius: .3rem;
    border-width: 0;
    background-color: rgb(56, 48, 44);
    color: white;
    font-weight: bold;
}

form > * {
    padding: 5px;
    border-radius: 3px;
    margin-right: .5rem;
}
