
  <h1>Devon's Meal Planner</h1>

  <form [formGroup]="mealForm" (submit)="onSubmit()">
    <select name="dow" id="dow" formControlName="dow">
        <option *ngFor="let day of daysOfWeek" [value]="day">
            {{ day }}
        </option>
    </select>
    <select name="meal" id="meal" formControlName="meal">
        <option *ngFor="let meal of meals" [value]="meal">
            {{ meal }}
        </option>
    </select>
    <input type="text" formControlName="mealName">
    <button type="submit">Submit</button>
  </form>

  <ul>
    <li *ngFor="let meal of mealPlan">
        {{ meal.dow }} {{ meal.meal }} {{ meal.mealName }}
    </li>
  </ul>
